## Hypothesis Testing:

### **Q1 — Commuter pattern**

#### Do average hourly rides (remember each row in the data is a ride) differ between working days and non-working days?

<br>

● What stakeholder would care about this test?

● How should you sample the data?

● What are the hypotheses, what alpha would you choose and why, how
would you explain the result (be sure to include confidence intervals)

In [2]:
# imports
import pandas as pd
from scipy import stats
from scipy.stats import t

In [11]:
path = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod4/M4-Final-Project/data/cleaned_hour.csv'
df = pd.read_csv(path)
df['dteday']= pd.to_datetime(df['dteday'])
df.keys()

Index(['Unnamed: 0', 'instant', 'dteday', 'season', 'yr', 'mnth', 'hr',
       'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp',
       'hum', 'windspeed', 'casual', 'registered', 'cnt', 'season_names',
       'month_names', 'day_name'],
      dtype='object')

***
### Create groups to test:

In [97]:
# splitting into groups: working vs non-working
workingdays = df[df['workingday']==1]
nonworkingdays = df[df['workingday']==0]
# where 1 = working day, and 0 = non working day


#avg_working = workingdays.groupby('hr')['cnt'].sum().reset_index()
#avg_nonworking = nonworkingdays.groupby('hr')['cnt'].sum().reset_index()

***
### T-Test:

**Null Hypothesis**: There is no significant difference between hourly rides for working days vs. non-working days.

**Alt. Hypothesis**: There is a statistically significant difference between hourly rides for working days vs. non-working days.

In [96]:
#statistical scores
commuter_pattern = stats.ttest_ind(workingdays['cnt'], nonworkingdays['cnt'], equal_var=False, alternative='two-sided')
commuter_pattern.pvalue

np.float64(4.249478377549554e-05)

In [ ]:
# standard error
working_mean = workingdays['cnt'].mean()
nonworking_mean = nonworkingdays['cnt'].mean()
working_n = len(workingdays)
nonworking_n = len(nonworkingdays)
working_s = workingdays['cnt'].std()
nonworking_s = nonworkingdays['cnt'].std()

se = (((working_s**2)/working_n)+((nonworking_s**2)/nonworking_n))**0.05

***

### **Q2 — Multi-group comparison**

#### Do mean hourly rides differ across categories of multi-level categorical variables such as season or weather condition (choose one)? If you find a difference, describe the appropriate post-hoc (after the test what other tests would you do) approach and what it would tell stakeholders.

<br>

● What stakeholder would care about this test? Does this change what multi-level
categorical variable you choose?

● How should you sample the data?

● What are the hypotheses, what alpha would you choose and why, how would you
explain the result (be sure to include confidence intervals)

***
### Creating groups:

In [141]:
# our groups
clear = df[df['weathersit']==1]
mist = df[df['weathersit']==2]
lightrain = df[df['weathersit']==3]
heavyrain = df[df['weathersit']==4]

***
### Our ANOVA Test:

In [142]:
# imports
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [143]:
# ANOVA
f_stat1, p_stat1 = f_oneway(
    clear['cnt'],
    mist['cnt'],
    lightrain['cnt'],
    heavyrain['cnt']
)
print(f'F-Statistic: {f_stat1}, P-Value: {p_stat1}')

F-Statistic: 127.17386949967266, P-Value: 1.7347820521802623e-81

In [144]:
# Tukey's Test
tukey_result = pairwise_tukeyhsd(endog=df['cnt'],
                                 groups=df['weathersit'],
                                 alpha=0.05)
print(tukey_result)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
group1 group2  meandiff p-adj    lower    upper   reject
--------------------------------------------------------
     1      2  -29.7038    0.0  -37.7909 -21.6166   True
     1      3    -93.29    0.0 -106.2676 -80.3123   True
     1      4 -130.5359 0.5886 -396.7534 135.6815  False
     2      3  -63.5862    0.0  -77.6067 -49.5658   True
     2      4 -100.8322 0.7649 -367.1025 165.4381  False
     3      4  -37.2459 0.9841 -303.7096 229.2177  False
--------------------------------------------------------

In [145]:
# checking means for contextual clarification
clear.describe(), mist.describe(), lightrain.describe(), heavyrain.describe()

(         Unnamed: 0       instant                         dteday  \
 count  11413.000000  11413.000000                          11413
 mean    8695.750723   8696.750723  2012-01-02 10:23:55.205467392
 min        0.000000      1.000000            2011-01-01 00:00:00
 25%     4493.000000   4494.000000            2011-07-11 00:00:00
 50%     8714.000000   8715.000000            2012-01-03 00:00:00
 75%    12955.000000  12956.000000            2012-06-29 00:00:00
 max    17378.000000  17379.000000            2012-12-31 00:00:00
 std     4910.639765   4910.639765                            NaN

              season            yr          mnth            hr       holiday  \
 count  11413.000000  11413.000000  11413.000000  11413.000000  11413.000000
 mean       2.511084      0.505389      6.511872     11.731709      0.029878
 min        1.000000      0.000000      1.000000      0.000000      0.000000
 25%        2.000000      0.000000      4.000000      6.000000      0.000000
 50%        3.000000      1.000000      7.000000     12.000000      0.000000
 75%        3.000000      1.000000      9.000000     18.000000      0.000000
 max        4.000000      1.000000     12.000000     23.000000      1.000000
 std        1.083600      0.499993      3.335956      7.015996      0.170259

             weekday    workingday  weathersit          temp         atemp  \
 count  11413.000000  11413.000000     11413.0  11413.000000  11413.000000
 mean       2.999124      0.668711         1.0      0.511054      0.488387
 min        0.000000      0.000000         1.0      0.020000      0.000000
 25%        1.000000      0.000000         1.0      0.340000      0.333300
 50%        3.000000      1.000000         1.0      0.520000      0.500000
 75%        5.000000      1.000000         1.0      0.680000      0.636400
 max        6.000000      1.000000         1.0      1.000000      1.000000
 std        2.030395      0.470697         0.0      0.200775      0.178958

                 hum     windspeed        casual    registered           cnt
 count  11413.000000  11413.000000  11413.000000  11413.000000  11413.000000
 mean       0.573747      0.190553     40.545431    164.323841    204.869272
 min        0.080000      0.000000      0.000000      0.000000      1.000000
 25%        0.430000      0.104500      5.000000     39.000000     46.000000
 50%        0.560000      0.194000     20.000000    128.000000    159.000000
 75%        0.710000      0.253700     56.000000    232.000000    304.000000
 max        1.000000      0.806000    367.000000    886.000000    977.000000
 std        0.178463      0.123788     53.126559    156.890453    189.487773  ,
          Unnamed: 0       instant                         dteday       season  \
 count   4544.000000   4544.000000                           4544  4544.000000
 mean    8827.604533   8828.604533  2012-01-08 00:25:02.112676096     2.492518
 min        5.000000      6.000000            2011-01-01 00:00:00     1.000000
 25%     3977.750000   3978.750000            2011-06-19 00:00:00     1.000000
 50%     8866.500000   8867.500000            2012-01-10 00:00:00     2.000000
 75%    13514.250000  13515.250000            2012-07-22 00:00:00     4.000000
 max    17375.000000  17376.000000            2012-12-31 00:00:00     4.000000
 std     5296.123922   5296.123922                            NaN     1.153214

                 yr         mnth           hr      holiday      weekday  \
 count  4544.000000  4544.000000  4544.000000  4544.000000  4544.000000
 mean      0.511884     6.618838    10.959287     0.030150     3.010563
 min       0.000000     1.000000     0.000000     0.000000     0.000000
 25%       0.000000     3.000000     6.000000     0.000000     1.000000
 50%       1.000000     7.000000    11.000000     0.000000     3.000000
 75%       1.000000    10.000000    16.000000     0.000000     5.000000
 max       1.000000    12.000000    23.000000     1.000000     6.000000
 std       0.499914     3.646854     6.625637     0.171018     1.980173

         workingday  weathersit         temp        atemp          hum  \
 count  4544.000000      4544.0  4544.000000  4544.000000  4544.000000
 mean      0.702245         2.0     0.474445     0.456591     0.698807
 min       0.000000         2.0     0.020000     0.000000     0.000000
 25%       0.000000         2.0     0.320000     0.318200     0.560000
 50%       1.000000         2.0     0.460000     0.454500     0.710000
 75%       1.000000         2.0     0.620000     0.590900     0.840000
 max       1.000000         2.0     0.960000     0.893900     1.000000
 std       0.457322         0.0     0.175933     0.157263     0.172478

          windspeed       casual   registered          cnt
 count  4544.000000  4544.000000  4544.000000  4544.000000
 mean      0.179973    29.595290   145.570202   175.165493
 min       0.000000     0.000000     0.000000     1.000000
 25%       0.104500     4.000000    34.000000    40.000000
 50%       0.164200    15.000000   111.000000   133.000000
 75%       0.253700    38.000000   208.000000   257.000000
 max       0.716400   350.000000   822.000000   957.000000
 std       0.114463    41.356704   142.390431   165.431589  ,
          Unnamed: 0       instant                         dteday       season  \
 count   1419.000000   1419.000000                           1419  1419.000000
 mean    8196.145877   8197.145877  2011-12-12 13:58:13.446088960     2.458069
 min       18.000000     19.000000            2011-01-01 00:00:00     1.000000
 25%     3835.000000   3836.000000            2011-06-13 00:00:00     1.000000
 50%     7715.000000   7716.000000            2011-11-23 00:00:00     2.000000
 75%    12024.500000  12025.500000            2012-05-21 00:00:00     4.000000
 max    17320.000000  17321.000000            2012-12-29 00:00:00     4.000000
 std     4917.974369   4917.974369                            NaN     1.139202

                 yr         mnth           hr      holiday      weekday  \
 count  1419.000000  1419.000000  1419.000000  1419.000000  1419.000000
 mean      0.449612     6.498238    11.940099     0.015504     3.017618
 min       0.000000     1.000000     0.000000     0.000000     0.000000
 25%       0.000000     3.000000     6.000000     0.000000     2.000000
 50%       0.000000     6.000000    12.000000     0.000000     3.000000
 75%       1.000000    10.000000    18.000000     0.000000     5.000000
 max       1.000000    12.000000    23.000000     1.000000     6.000000
 std       0.497630     3.557581     6.888898     0.123589     1.885390

         workingday  weathersit         temp        atemp          hum  \
 count  1419.000000      1419.0  1419.000000  1419.000000  1419.000000
 mean      0.732911         3.0     0.456688     0.436386     0.827632
 min       0.000000         3.0     0.080000     0.045500     0.000000
 25%       0.000000         3.0     0.340000     0.318200     0.780000
 50%       1.000000         3.0     0.460000     0.454500     0.870000
 75%       1.000000         3.0     0.600000     0.545500     0.930000
 max       1.000000         3.0     0.920000     0.893900     1.000000
 std       0.442595         0.0     0.160509     0.144079     0.157370

          windspeed       casual   registered          cnt
 count  1419.000000  1419.000000  1419.000000  1419.000000
 mean      0.218825    16.055673    95.523608   111.579281
 min       0.000000     0.000000     0.000000     1.000000
 25%       0.134300     1.000000    19.000000    21.000000
 50%       0.194000     5.000000    55.000000    63.000000
 75%       0.298500    16.000000   129.000000   152.500000
 max       0.850700   263.000000   791.000000   891.000000
 std       0.130198    30.017327   114.773469   133.781045  ,
         Unnamed: 0      instant               dteday  season        yr  mnth  \
 count     3.000000     3.000000                    3     3.0  3.000000   3.0
 mean   6187.333333  6188.333333  2011-09-19 00:00:00     1.0  0.666667   1.0
 min     585.000000   586.000000  2011-01-26 00:00:00     1.0  0.000000   1.0
 25%    4719.500000  4720.500000  2011-07-19 00:00:00     1.0  0.500000   1.0
 50%    8854.000000  8855.000000  2012-01-09 00:00:00     1.0  1.000000   1.0
 75%    8988.500000  8989.500000  2012-01-15 00:00:00     1.0  1.000000   1.0
 max    9123.000000  9124.000000  2012-01-21 00:00:00     1.0  1.000000   1.0
 std    4853.626926  4853.626926                  NaN     0.0  0.577350   0.0

               hr  holiday   weekday  workingday  weathersit      temp  \
 count   3.000000      3.0  3.000000    3.000000         3.0  3.000000
 mean   11.666667      0.0  3.333333    0.666667         4.0  0.186667
 min     1.000000      0.0  1.000000    0.000000         4.0  0.140000
 25%     8.500000      0.0  2.000000    0.500000         4.0  0.170000
 50%    16.000000      0.0  3.000000    1.000000         4.0  0.200000
 75%    17.000000      0.0  4.500000    1.000000         4.0  0.210000
 max    18.000000      0.0  6.000000    1.000000         4.0  0.220000
 std     9.291573      0.0  2.516611    0.577350         0.0  0.041633

           atemp       hum  windspeed    casual  registered         cnt
 count  3.000000  3.000000   3.000000  3.000000    3.000000    3.000000
 mean   0.186900  0.883333   0.204000  2.666667   71.666667   74.333333
 min    0.136400  0.860000   0.089600  1.000000   22.000000   23.000000
 25%    0.166700  0.860000   0.141800  1.000000   28.500000   29.500000
 50%    0.197000  0.860000   0.194000  1.000000   35.000000   36.000000
 75%    0.212150  0.895000   0.261200  3.500000   96.500000  100.000000
 max    0.227300  0.930000   0.328400  6.000000  158.000000  164.000000
 std    0.046284  0.040415   0.119714  2.886751   75.048873   77.925178  )

***

## Part C: Simulated A/B Test: Objective

This section is more guided than Part A & Part B. Here are some
highlights:

● PM’s objective: Does ridership increase on working days
during early evening after launching a small app feature
change (it is not necessary to know what was change to
conduct the analysis)


- Primary Metric (fixed): Average hourly rides (cnt) during 17:00–19:00 on working
days when weather is good.


Eligibility (fixed) — keep a row only if all are true:

● workingday == 1

● hr ∈ {17, 18, 19}

● weathersit ∈ {1, 2} and hum ≤ 0.70

***

In [111]:
filtered_df = df[(df['workingday'] ==1) 
                 & (df['hr'].isin([17,18,19])) 
                 & (df['weathersit'].isin([1,2]))
                 & (df['hum']<=0.70)]

filtered_df

,Unnamed: 0,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,...,temp,atemp,hum,windspeed,casual,registered,cnt,season_names,month_names,day_name
62,62,63,2011-01-03,1,0,1,17,0,1,1,...,0.24,0.2273,0.30,0.2239,11,146,157,Spring,January,Monday
63,63,64,2011-01-03,1,0,1,18,0,1,1,...,0.24,0.2576,0.32,0.1045,9,148,157,Spring,January,Monday
64,64,65,2011-01-03,1,0,1,19,0,1,1,...,0.20,0.2576,0.47,0.0000,8,102,110,Spring,January,Monday
85,85,86,2011-01-04,1,0,1,17,0,2,1,...,0.28,0.2727,0.48,0.2239,10,202,212,Spring,January,Tuesday
86,86,87,2011-01-04,1,0,1,18,0,2,1,...,0.26,0.2576,0.48,0.1940,3,179,182,Spring,January,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17301,17301,17302,2012-12-28,1,1,12,18,0,5,1,...,0.24,0.2424,0.60,0.1343,16,197,213,Spring,December,Friday
17302,17302,17303,2012-12-28,1,1,12,19,0,5,1,...,0.24,0.2273,0.65,0.1940,15,113,128,Spring,December,Friday
17372,17372,17373,2012-12-31,1,1,12,17,0,1,1,...,0.26,0.2879,0.48,0.0896,14,150,164,Spring,December,Monday
17373,17373,17374,2012-12-31,1,1,12,18,0,1,1,...,0.26,0.2727,0.48,0.1343,10,112,122,Spring,December,Monday
17374,17374,17375,2012-12-31,1,1,12,19,0,1,1,...,0.26,0.2576,0.60,0.1642,11,108,119,Spring,December,Monday

Windows (fixed) — pretend launch is 2012-09-01

● Pre (Baseline): 2012-08-04 → 2012-08-31 (inclusive)

● Post (Feature On): 2012-09-01 → 2012-09-28 (inclusive)

In [120]:
pre_filtered_df = df[(df['dteday']>='2012-08-04') & (df['dteday']<='2012-08-31')]
post_filtered_df = df[(df['dteday']>='2012-09-01') & (df['dteday']<='2012-09-08')]

for x in pre_filtered_df['dteday'], post_filtered_df['dteday']:
    print(f'Min:{x.min()}, Max: {x.max()}')

Min:2012-08-04 00:00:00, Max: 2012-08-31 00:00:00
Min:2012-09-01 00:00:00, Max: 2012-09-08 00:00:00

Use the appropriate hypothesis test to compare if there is a difference in the
average total bike count between Group A (Pre) and Group B (Post).

● State the null and alternative hypotheses

● α = 0.05 (default; you may choose a different α if you justify the product risk).

● Report: test statistic, p-value, 95% CI for, and decision that is stakeholder
specific

***

### **Hypotheses:**
**Null:** There is no significant difference between Group A and Group B.

**Alternative:** There is a significant difference between Group A and Group B.

In [154]:
group_test = stats.ttest_ind(pre_filtered_df['cnt'], post_filtered_df['cnt'], equal_var=False, alternative='two-sided')
group_test.pvalue

np.float64(0.3422455391059873)

I decided to use an independent t-test since it is unlikely that the two groups are related in variances. This tells us that there is no statistically significant difference.

In [159]:
pre_filtered_df['cnt'].describe()

count    672.000000
mean     286.438988
std      227.057677
min        3.000000
25%       86.750000
50%      263.500000
75%      431.250000
max      941.000000
Name: cnt, dtype: float64

In [160]:
post_filtered_df['cnt'].describe()

count    192.000000
mean     268.973958
std      223.607955
min        4.000000
25%       72.250000
50%      217.000000
75%      451.000000
max      863.000000
Name: cnt, dtype: float64

With closer analysis, it is clear that there is a significantly lower count for the post group, Group B. I would continue to track the count (representing hours) and the mean rides overall, and per hour as well.